.search {
  position: relative;
  width: 87%;
  height: 95%;
  left: 5%;
  top: 4%;
  border: transparent;
  outline: transparent;
}

.search-icon {
  position: relative;
  left: 10px;
  top: 5px;
  float: left;
}

.search-bar {
  margin-left: 40%;
  width: 35%;
  height: 50%;
  left: 47%;
  top: 2.5%;
  outline: none;
  border: 1px solid #8b8b8b;
  box-sizing: border-box;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  background: #fafafa;
}

.profile {
  height: 50px;
  width: 50px;
  float: right;
  margin-top: 18px;
}

.uo {
  float: right;
  margin-top: 29px;
  margin-right: 10px;
  background: #5232df;
}

.bell {
  float: right;
  margin-top: 25px;
  margin-right: 10px;
}

.searchIcon {
  position: absolute;
  left: 4.3%;
  right: 90.32%;
  top: 26%;
  bottom: 24%;
}

.navbar {
  display: flex;
  align-items: center;
  background: black;
  color: white;
  font-family: Helvetica;
  font-weight: 300;
  height: 80px;
}

.navbar__title {
  color: white;
  margin-right: auto;
  font-size: 150%;
  padding: 12px 16px;
}

.navbar__title > a {
  text-decoration: none;
  color: white;
}

.navbar__item {
  padding: 16px 16px;
  cursor: pointer;
  vertical-align: middle;
  color: white;
  font-weight: 600;
}

.navbar__item > a {
  color: white;
  text-decoration: none;
}

.navbar_logo > img {
  height: 60px;
  width: 60px;
  margin-left: 10px;
  filter: invert(100%);
}
