.model {
  padding: 30px;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  height: 100vh;
  background-color: lightgray;
  gap: 30px;
}

.live_scraping {
  display: flex;
  flex-direction: column;
  /* background-color: blue; */
  align-items: center;
}

.display_logs {
  display: flex;
  flex-direction: column;
  /* background-color: blue; */
  align-items: center;
}

.scrape_button {
  /* margin-top: 10px; */
  background-color: rgb(49, 46, 51);
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  /* display: flex; */
  text-decoration: none;
  /* display: inline-block; */
  font-size: 17px;
  /* justify-content: flex-end;
    justify-items: center; */
}

.status_button {
  background-color: rgb(49, 46, 51);
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  /* display: flex; */
  text-decoration: none;
  /* display: inline-block; */
  font-size: 17px;
}

.scrape_output {
  margin-top: 10px;
  height: 430px;
  width: 500px;
  background-color: white;
  padding: 10px;
}

.log_output {
  margin-top: 10px;
  height: 430px;
  width: 730px;
  background-color: white;
  padding: 10px;

  overflow-y: scroll;
}

.log_output > table,
th,
td {
  border: 1px solid black;
  border-collapse: collapse;
}
